<a href="https://colab.research.google.com/github/CalicoLink/COMP4830_Fall_2024/blob/main/IntroClass.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
s = "Hello World!"

In [5]:
print(s)

Hello World!

Memory and variables are accessible accross cells

When you finish a code block with a math operation, it prints the result for you.

In [6]:
x = 3
y = 2

x ** y # exponent

9

In [7]:
x // y # floor division

1

In [9]:
s[3]

'l'

In [10]:
a = [1, 2, 3, 4, 5] # list

In [11]:
len(a)

5

In [13]:
a.append(6)
a

[1, 2, 3, 4, 5, 6, 6]

In [14]:
b = [1,2,3,"hello","world"] # lists do not need to be the same type

In [16]:
b[3]

'hello'

In [17]:
type(b[4])

str

In [19]:
c = (1,2,3) # tuples, can contain multiple or just one item

In [20]:
d = (4,) # this is a single item tuple

In [21]:
grades = {"john":95, "jacob":70} # can create dictionaries (hash maps)

In [22]:
# can index a dictionary using the unique key to get the value
grades['john']

95

In [23]:
# can add a value pair (if an existing key is in the brackets, it will update its value)
grades["susan"] = 80

In [24]:
grades

{'john': 95, 'jacob': 70, 'susan': 80}

In [28]:
# can create sets to perform set operations
e = {1,2,3,4}
f = {3,4,5,6}
print(e.union(f))
print(e.intersection(f))

{1, 2, 3, 4, 5, 6}
{3, 4}

In [30]:
grade = 85

if grade >= 90:
  print("A")
elif grade <90 and grade >= 80:
  print("B")
else:
  print("Could be better")

B

In [31]:
i = 0
while i < 4:
  print(i)
  i+=1

0
1
2
3

In [32]:
# for loops in Python are pretty much for each loops
for i in range(5):
  print(i)

0
1
2
3
4

In [34]:
# can also loop (iterate through) items in a list
for i in [2,3,5,9]:
  print(i)

2
3
5
9

In [39]:
for i in range(2,10,3):
  print(i)

2
5
8

In [40]:
def myfunc(a):
  return a*a

In [41]:
myfunc(3)

9

In [42]:
# can return multiple values from a single function
def myfunc2(a):
  return a, a*a

In [44]:
b, b2 = myfunc2(4)
print(b)
print(b2)

4
16

In [47]:
class Example:
  def __init__(self, a) -> None: #this is a constructor, the arrow pointing to none is type hinting, it is not strictly necessary
    self.num = a

  def PrintIt(self):
    print(self.num)

In [50]:
b = Example(6)
print(type(b))

<class '__main__.Example'>

In [53]:
b.num

6

In [55]:
# side note, there are no access specifiers in Python, eveything is public
b.PrintIt()

6

In [56]:
# you can use Jupyter Notebooks like a Linux terminal
!ls

sample_data

In [58]:
!pip install numpy # numpy is already installed in the environment by default though

Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (1.26.4)

Can set up GitHub to